
body{
    font-family: $font-texte;
    margin:0;
    display: flex;
    flex-direction: column;
}

a{
    text-decoration:none;
    color:black;
}
main{
    width: 100%;
    background-color: $background-grey;
}

h1 {


}

h2 {

    
}

h3 {

    
}
