
body{
    font-family: $font-texte;
    margin:0;
    display: flex;
    flex-direction: column;
}
img {
width: 100%;
margin: 0px;
padding: 0px;

}
a{
    text-decoration:none;
    color:black;
}
main{
    width: 100%;
    background-color: $background-grey;
}

ul {


list-style: none;


}
