 /*Animation au chargement de la page*/
.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
  animation: loader 0.4s;
  animation-delay: 1.5s;
  animation-fill-mode: both;
  z-index: 1;
  @include centrer;
  align-items: center;
 


  &__bloc {
    display: flex;
    width: 50%;
    @include icharg;

  }
  &__ball {
   
    height: 50%;
    width: 50%;
    border-radius: 15%;
    animation: bounceIn 1s;
    animation-iteration-count: 2;
    border-radius: 50%;

  }

  &__ball1 {
    background-color: $couleur-primaire;
 margin: 5px;
  }
  &__ball2 {
    background-color: $couleur-secondaire;
    animation-delay: 0.5s;
    margin: 5px;
  }
  &__ball3 {
    background-color:$couleur-tertiaire;
    animation-delay: 0.30s;
    margin: 5px;
  }
 
}
header {

img {
  padding-top: 20px;
padding-bottom: 10px;
  height: 35px;
  width: 100%;
}

}

.pres {
  
i {
 
  background-color: rgb(228, 222, 222);
font-size: 20px;
padding-top: 10px;
padding-left: 40px;
text-align: center;
}

  form {
display: flex;
    background-color: rgb(228, 222, 222);
    justify-content: center;
    height:40px;
 box-shadow: black;
 box-shadow: 10px 0px 0px 0px black;
   
  input {
border: none;
    background-color: rgb(228, 222, 222);
    font-size: 17px;
    text-align: left;
    padding-left: 20px;
    font-weight: bold;
   
  
  }
    }
   

&__presentation{

 h1 {
font-size: 45px;
font-weight: 800;
    font-weight: bold;
    @include centrer;
    text-align: center;

}

h2 {
  @include centrer;
  text-align: center;
  
  }

h3 {
  @include centrer;
   
    
    }

}

}

.choix{

background-color: white;

  h2 {
    @include centrer;

  }
  li {

    @include centrer;

  }



}
.colonnes {
  @include colonnes;
  }
  
.imgrest {

@include mixfig;

}
footer {
  color: white;
  background-color: black;
  width: 100%;
}
.titrebas {
  font-family: $font-logo;
  font-size: 18px;

  }

/*  Breckpoint Desktop*/
@media only screen and (min-width: 700px)  { 

  .loading {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    animation: loader 0.4s;
    animation-delay: 1.5s;
    animation-fill-mode: both;
    z-index: 1;
    @include centrer;
    align-items: center;
   
  
  
    &__bloc {
      display: flex;
      width: 15%;
      @include icharg;
  
    }
    &__ball {
     
      height: 50%;
      width: 50%;
      
      animation: bounceIn 1s;
      animation-iteration-count: 2;
   
      border-radius: 50%;
  
    }
  
    &__ball1 {
      background-color: $couleur-primaire;
   
    }
    &__ball2 {
      background-color: $couleur-secondaire;
      animation-delay: 0.5s;
    }
    &__ball3 {
      background-color:$couleur-tertiaire;
      animation-delay: 0.30s;
    }
   
  }

 }