
  /*Animation chargement*/
@keyframes loader {

  100% {
    opacity: 0;
    z-index: -10;
  }
}

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}


@keyframes cascade {
  from {
  transform: translatey(20px);
    opacity: 0%;
  }
  to {
    transform: translatey(0px);
    opacity: 100%;
  }
}
@keyframes pucerotate {
  from {
  transform: rotatex(0 deg);
    opacity: 0%;
  }
  to {
    transform: rotatex(365 deg);
    opacity: 100%;
  }
}


@keyframes rotate {
  0% {
      transform:rotatex(-365deg)
  }
  100% {
      transform: rotatex(0deg);
  }
}


